<%include ../partials/header%>
<link rel="stylesheet" href="/css/cms.css">
<div class="container">
    <form action="/projects/<%=project._id%>/section/" method="POST" enctype="multipart/form-data">
        <div class="form-group ">
            <label for="inputName" class="form-label">What's the title of the section?</label>
            <input type="text" name="title" class="form-control" id="inputName" placeholder="Title">
        </div>
        <div class="form-group">
            <label class="form-label" for="projectDescription">Paragraph 1</label>
            <textarea name="p1" class="form-control" id="projectDescription" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label class="form-label" for="projectDescription">Paragraph 2</label>
            <textarea name="p2" class="form-control" id="projectDescription" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label class="form-label" for="projectDescription">Paragraph 3</label>
            <textarea name="p3" class="form-control" id="projectDescription" rows="4"></textarea>
        </div>

        <div class="form-group">
            <label for="imageFile">Upload an Image For this section</label>
            <input type="file" name="image" class="form-control-file" id="imageFile">
        </div>

        <button class="button"> SUBMIT</button>
    </form>
    <hr>


    <!-- <form action='/projects/images/' method="POST" enctype="multipart/form-data">
        <input class="form-control-file" type='file' name='image' />
        <button> SUBMIT</button>
    </form> -->

</div> <a href="/projects/header/new/">Add a new <section></section></a>