<%include ../partials/header%>

<div class="container ">
    <form action="/projects/" method="POST" enctype="multipart/form-data">
        <div class="form-group ">
            <label for="inputName" class="form-label">Name</label>
            <input type="text" name="name" class="form-control" id="inputName" placeholder="Name">
        </div>
        <div class="form-group">
            <label class="form-label" for="projectDescription">Description</label>
            <textarea name="description" class="form-control" id="projectDescription" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label for="imageFile">Project Image</label>
            <input type="file" name="image" class="form-control-file" id="imageFile">
        </div>
        <div class="form-group ">
            <label for="inputName" class="form-label">A video</label>
            <input type="text" name="videoUrl" class="form-control" id="inputName" placeholder="Name">
        </div>

        <button class="button"> SUBMIT</button>
    </form>
    <hr>
    <a href="/projects/">Return to the cms</a>


    <!-- <form action='/projects/images/' method="POST" enctype="multipart/form-data">
        <input class="form-control-file" type='file' name='image' />
        <button> SUBMIT</button>
    </form> -->

</div> <a href="/projects/header/new/">Add a new <section></section></a>