<%include ../partials/header%>
<link rel="stylesheet" href="/css/cms.css">
<div class="container member-form">
    <form action="/projects/<%=project._id%>/logo/" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="imageFile">Example file input</label>
            <input type="file" name="image" class="form-control-file" id="imageFile">
        </div>
        <button class="button"> SUBMIT</button>
    </form>
    <hr>
    <!-- <a class="button" href="/projects/">Return to the cms</a> -->

</div>
<!-- <form action='/projects/images/' method="POST" enctype="multipart/form-data">
        <input class="form-control-file" type='file' name='image' />
        <button> SUBMIT</button>
    </form> -->