<footer class="bottom" id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-1 col-lg-0"></div>
            <div class="col-xl-2 col-lg-3 col-md-6 col-sm-12">
                <div class="chu-image"><img src="/images/chu-logo.png" alt="" srcset=""></div>

            </div>
            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12">
                <h4>Adress</h4>
                <p id="footer-p">3175 Chemin de la Côte-Sainte-Catherine
                    Montréal, QC
                    H3T 1C4</p>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12">
                <h4>Menu</h4>
                <ul>
                    <li><a href="/projects/5da00b3f22cac548ecdf80fb/showToPublic/46fBxzRSz3bmj">Preventure</a></li>
                    <li><a href="/about/46fBxzRSz3bmj/">About Us</a></li>
                    <li><a href="/projects/public/46fBxzRSz3bmj/">Projects</a></li>
                    <li><a href="/news">News</a></li>
                    <li><a href="/publication">Publications</a></li>
                    <li><a href="/contact">Contact us</a></li>
                </ul>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="/opportunities">Opportunities @ Venture Lab</a></li>
                    <li><a href="/forum">Preventure Portal</a></li>
                    <li><a
                            href="https://www.nytimes.com/2016/10/04/well/family/the-4-traits-that-put-kids-at-risk-for-addiction.html">in
                            the press</a></li>

                </ul>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-6 col-sm-12">
                <h4>Contact</h4>
                <div><i class="fas fa-inbox fa-2x"></i>
                    <p class="white">info@conrodventurelab.com</p>
                </div>
                <div class="icons">
                    <!-- <a href="#!">
                        <i class="fab fa-twitter fa-2x"></i>
                    </a> -->
                    <a target="_blank" href="https://www.facebook.com/CoVentureLab/">
                        <i class="fab fa-facebook fa-2x"></i>
                    </a>

                    <a href="https://scholar.google.com/citations?user=dksr5mMAAAAJ&hl=en&oi=ao#">
                        <i class="fab fa-google fa-2x"></i>
                    </a>
                    <!-- <a href="#!">
                        <i class="fab fa-instagram fa-2x"></i>
                    </a> -->
                </div>
            </div>
            <!-- <div class="col-lg-1 col-md-0"></div> -->
        </div>
    </div>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="/js/project.js"></script>
<script src="/js/cms.js"></script>
<script src="/js/main.js"></script>
</body>

</html>