#navbar-ctn {
    background: #48aab6;

}

.navbar {
    padding: 0;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    color: #f1f1f1;
    padding: 25px;
    font-size: 1.2em;
    font-family: Lato, sans-serif;
    margin-left: 10px;
}

.nav-link:hover {
    text-decoration: underline;
    color: #fff;
}

.bg-pink {
    background: #b55488;
    transition: all 0.5s ease-in-out
}

.bg-mustard {
    background: rgba(234, 146, 36, 0.8);
    transition: all 0.5s ease-in-out
}

.m-0 {
    margin: 0;
    padding-right: 20px;
    padding-left: 20px;
}

.navbar-toggler {
    color: white;
    border: solid 2px #fff;
}

.vl-brand {
    font-size: 1.7em;
    padding: 10px 10px 10px 20px;
    font-family: Lato, sans-serif;
    color: #fff;
}