/* ===================================== */
.members-ctn {
    padding: 10px 20px;
}

.member-card {

    margin-top: 10px;
    padding: 10px;
    /* width: 100%;
    height: 640px; */
    transition: all 750ms ease;
    text-align: center;
    border-radius: 5px;

}

.member-card img {
    margin-left: 10%;
    width: 80%;
    height: 300px;
    border-radius: 10px;
}

.member-card a {
    text-decoration: none;
}

.member-card h5 {
    margin-top: 10px;
    font-family: Merriweather, serif;
    color: #000;
    font-weight: 500;
    font-size: 1.4em;
    text-align: center;
}

.member-card p {
    margin-bottom: 4px;
    color: #333;
    text-align: justify;
    font-size: 0.9em;
    padding: 0 20px 10px 20px;

}

/* .member-image {
    margin: 10px;
    width: 100px;
    height: 300px;
    background-size: contain;
    border-radius: 10px;
} */