<%include ../partials/header%>

<link rel="stylesheet" href="/css/forum.css">

<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class=""><img class="img" src="/images/EHT-cover-1.jpg"></div>
        </div>
        <div class="">
            <div class="thumbnail">
                <div class="caption-full">
                    <h4><a>Emerging Health Threat study will host a cross-Canada Youth Summit</a></h4>
                    <h3 class="topic">
                        <span></span> </h3>
                    <p>
                        In the months to come, the Emerging Health Threat study will host a cross-Canada Youth Summit to
                        present the current state of interventions and treatments for youth at-risk of opioid addiction
                    </p>
                    <p>

                        At the summit, researchers and youth will develop guiding principles and sample intervention
                        guidelines for service providers and policy makers that are more responsive to youth needs.
                    </p>
                    <p>‍We are currently in the process of recruiting youth between the ages of 15 – 25 who have used or
                        experimented with opioids to join the summit event. Compensation is provided. If you are
                        interested in participating, please contact Stephanie Nairn at
                        <a>stephanie.nairn@mail.mcgill.ca</a>.
                        More information will be provided as the planning of the event progresses.</p>
                </div>
            </div>

        </div>
    </div>
</div>





</div>
<% include ../partials/footer%>