<% include ../partials/header %>
<h1>Project index baby</h1>
<div class="container">
    <div class="row">
        <%Projects.map((project)=>{%>
        <div class="col-md-4">
            <div style="background:url(<%= project.image%>); height:200px;"></div>
            <h3><%= project.name%></h3>
            <p><%= project.description%></p>
        </div>
        <a href="/projects/<%=project.id%>/showToPublic/46fBxzRSz3bmj">View this project</a>
        <% })%>

    </div>
</div>

<a href="/projects/new">New project </a>

<%include ../partials/footer%>